<div>
  <h2 id="page-heading" data-cy="RegionHeading">
    <span jhiTranslate="spcpfasimpleApp.region.home.title">__jhiTransformTranslate__('spcpfasimpleApp.region.home.title')</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="spcpfasimpleApp.region.home.refreshListLabel"
          >__jhiTransformTranslate__('spcpfasimpleApp.region.home.refreshListLabel')</span
        >
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-region"
        [routerLink]="['/region/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="spcpfasimpleApp.region.home.createLabel"
          >__jhiTransformTranslate__('spcpfasimpleApp.region.home.createLabel')</span
        >
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="regions?.length === 0">
    <span jhiTranslate="spcpfasimpleApp.region.home.notFound">__jhiTransformTranslate__('spcpfasimpleApp.region.home.notFound')</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="regions && regions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">__jhiTransformTranslate__('global.field.id')</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="regionName">
            <div class="d-flex">
              <span jhiTranslate="spcpfasimpleApp.region.regionName">__jhiTransformTranslate__('spcpfasimpleApp.region.regionName')</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let region of regions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/region', region.id, 'view']">{{ region.id }}</a>
          </td>
          <td>{{ region.regionName }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/region', region.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">__jhiTransformTranslate__('entity.action.view')</span>
              </button>

              <button type="submit" [routerLink]="['/region', region.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">__jhiTransformTranslate__('entity.action.edit')</span>
              </button>

              <button type="submit" (click)="delete(region)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete"
                  >__jhiTransformTranslate__('entity.action.delete')</span
                >
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
