<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="country">
      <h2 data-cy="countryDetailsHeading">
        <span jhiTranslate="spcpfasimpleApp.country.detail.title">__jhiTransformTranslate__('spcpfasimpleApp.country.detail.title')</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">__jhiTransformTranslate__('global.field.id')</span></dt>
        <dd>
          <span>{{ country.id }}</span>
        </dd>
        <dt>
          <span jhiTranslate="spcpfasimpleApp.country.countryName">__jhiTransformTranslate__('spcpfasimpleApp.country.countryName')</span>
        </dt>
        <dd>
          <span>{{ country.countryName }}</span>
        </dd>
        <dt><span jhiTranslate="spcpfasimpleApp.country.region">__jhiTransformTranslate__('spcpfasimpleApp.country.region')</span></dt>
        <dd>
          <div *ngIf="country.region">
            <a [routerLink]="['/region', country.region.id, 'view']">{{ country.region.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"
          >__jhiTransformTranslate__('entity.action.back')</span
        >
      </button>

      <button type="button" [routerLink]="['/country', country.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"
          >__jhiTransformTranslate__('entity.action.edit')</span
        >
      </button>
    </div>
  </div>
</div>
